/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/* CSS RESET END */
/* 
CUSTOM FONTS START
font-family: 'Oxygen', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
CUSTOM FONTS END
*/
html {
    font-size:1rem;
}
body {
    background-color:#FBFFFB;
    font-family: 'Source Sans Pro', sans-serif;
}
h2 {
    font-size:3rem;
    color:#266035;
}
h3 {
    font-size:2.2rem;
    color:#266035;
    text-align:center;
}
/* CSS FOR TOP AREA START */
header {
    display:flex;
    justify-content:space-between;
    overflow:hidden;
    position:fixed;
    top:0;
    width:100%;
    background-color:#FBFFFB;
    opacity:0.9;
}
.logoImage {
    max-width:8%;
    margin-left:1%;
}
/* Top NAV buttons, need to stay green instead of blue/purple links */
nav {
    width:50%;
    margin-right:2%;
    padding:2%;
    font-size:1.4rem;
    font-family: 'Oxygen', sans-serif;
    color:#266035;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
a:link {
    color:#266035;
    text-decoration:none;
}
a:visited {
    color:#266035;
    text-decoration:none;
}
/* Top NAV buttons end */
/* MAIN SPLASH PAGE START */
#homeDawg {
    background-image:url('../images/header.jpg');
    background-size:100% auto;
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
h1 {
    font-family: 'Oxygen', sans-serif;
    color:#FBFFFB;
    font-size:3.8rem;
    margin:2%; 
}
.headerButton {
    border:1px solid #FBFFFB;
    background-color:#FBFFFB;
    padding:1.5%;
    color:#266035;
    font-size:1.4rem;
    margin:2%;
}
.headerButton:hover {
    background-color:#266035;
    color:#FBFFFB;
    transition:1s;
}
/* MAIN SPLASH PAGE END */
/* CSS FOR TOP AREA END */
/* OUR STORY AREA START */
#ourStory {
    background:url('../images/about-img.jpg');
    background-size:85% auto;
    background-position:0%;
    padding-top:1%;
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.logoImageAbout {
    display:none;
}
.aboutOurStory {
    margin:2% 2% 1% 55%;
}
.aboutUs {
    font-size:1.2rem;
    margin:2% 5% 8% 50%;
    text-align:justify;
    line-height:1.5;
}
/* OUR STORY AREA END */
/* OUR PLANTS AREA START */
.ourPlantsDiv {
    text-align:center;
    width:100%;
    margin-top:3%;
    margin-bottom:3%;
}
/* SUCCULENTS START */
.succulents {
    display:flex;
}
.succulentsImage {
    width:50%;
    max-width:900px;
}
.succulentsText{
    padding:3%;
    margin-top:3%;
    margin-bottom:3%;
    display:flex;
    flex-direction:column;
    text-align:justify;
    align-items:center;
    line-height:1.5;
}
.succulentsP {
    margin:5% 5% 5% 5%;
    align-items:center;
    font-size:1.4rem;
}
.succulentsShop {
    border:1px solid #266035;
    background-color:#266035;
    color:#FBFFFB;
    padding:1.5% 5% 1.5% 5%;
    margin:2%;
    font-size:1.6rem;
}
.succulentsShop:hover {
    background-color:#FBFFFB;
    color:#266035;
    transition:1s;
}
/* SUCCULENTS END */
/* CACTI START */
.cacti {
    display:flex;
    flex-direction:row-reverse;
}
.cactiImage {
    width:50%;
    max-width:900px;
}
.cactiText {
    padding:3%;
    margin-top:3%;
    margin-bottom:3%;
    max-width:40%;
    display:flex;
    flex-direction:column;
    text-align:justify;
    align-items:center;
    line-height:1.5;
}
.cactiP {
    margin:5% 5% 5% 5%;
    align-items:center;
    font-size:1.4rem;
}
.cactiShop {
    border:1px solid #266035;
    background-color:#266035;
    color:#FBFFFB;
    padding:1.5% 5% 1.5% 5%;
    margin:2%;
    font-size:1.6rem;
}
.cactiShop:hover {
    background-color:#FBFFFB;
    color:#266035;
    transition:1s;
}
/*CACTI END */
/* TROPICALS START */
.tropicals {
    display:flex;
}
.tropicalsImage {
    width:50%;
    height:525px;
    object-fit:cover;
}
.tropicalsText{
    padding:3%;
    margin-top:3%;
    margin-bottom:3%;
    display:flex;
    flex-direction:column;
    text-align:justify;
    align-items:center;
    line-height:1.5;
}
.tropicalsP {
    margin:5% 5% 5% 5%;
    align-items:center;
    font-size:1.4rem;
}
.tropicalsShop {
    border:1px solid #266035;
    background-color:#266035;
    color:#FBFFFB;
    padding:1.5% 5% 1.5% 5%;
    margin:2%;
    font-size:1.6rem;
}
.tropicalsShop:hover {
    background-color:#FBFFFB;
    color:#266035;
    transition:1s;
}
/* TROPICALS END */
/* OUR PLANTS AREA END */
/* GET IN TOUCH AND FOOTER AREA START */
#Contact {
    color:#FBFFFB;
    background-color:#266035;
}
.contactDiv {
    display:flex;
    margin:0% 5% 0% 5%;
    padding:5%;
    justify-content: space-between;
}
.getintouchh2 {
    color:#FBFFFB;
    width:100%;
    text-align:center;
    padding:3%;
}
.contactInfo {
    width:40vh;
    display:flex;
    flex-direction:column;
}
.getintouchh3 {
    color:#FBFFFB;
    text-align:left;
}
.addressDiv {
    margin-top:15%;
    font-size:1.4rem;
}
address {
    line-height:1.5;
}
.contactStuff {
    line-height:1.5;
    margin-top:15%;
    font-size:1.4rem;
}
a.contactPhone {
    color:#FBFFFB;
}
.contactPhone:hover {
    color:black;
}
a.contactMail {
    color:#FBFFFB;
}
.contactMail:hover {
    color:black;
}
.contactImage {
    max-width:40%;
}
.britCopy {
    display:flex;
    flex-direction:row-reverse;
    margin-top:-3%;
    padding-bottom:5%;
    padding-right:15%;
}
/* GET IN TOUCH AND FOOTER AREA END */
/* MEDIA QUERY FOR TABLET START */
@media (max-width:800px){
.succulentsImage {
    width:50%;
    max-width:400px;
    height:auto;
}
.succulentsShop {
    padding:2% 10% 2% 10%;
    font-size:2rem;
}
.cactiImage {
    width:50%;
    max-width:400px;
    height:auto;
}
.cactiShop {
    padding:2% 10% 2% 10%;
    font-size:2rem;
}
.tropicalsImage {
    width:50%;
    max-width:400px;
    height:auto;
}
.tropicalsShop{
    padding:2% 10% 2% 10%;
    font-size:2rem;
}
}
/* MEDIA QUERY FOR TABLET END */
/* MEDIA QUERY FOR CELL PHONE START */
@media (max-width:500px){
header {
    display:flex;
    flex-direction:column;
}
.logoImage {
    width:100%;
    max-width:35%;
    padding-left:30%;
    padding-right:30%;
}
nav {
    width:100%;
    justify-content:space-around;
}
#homeDawg {
    display:flex;
    align-items:center;
}
h1 {
    text-align:center;
    padding-top:15%;
    padding-left:20%;
    padding-right:20%;
}
.headerButton {
    display:none;
}
.logoImageAbout {
    display:inline;
    width:30%;
    margin-top:20%;
}
#ourStory {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:40vh;
    background:#FBFFFB;
    margin-bottom:20%;
}
.aboutOurStory {
    margin:2% 5% 2% 5%;
}
.aboutUs {
    margin: 2% 5% 2% 5%;
}
.succulents {
    display:flex;
    flex-direction:column;
}
.succulentsImage {
    width:90%;
    align-items:center;
    margin-left:5%;
    
}
.cacti {
    display:flex;
    flex-direction:column;
}
.cactiImage {
    width:90%;
    align-items:center;
    margin-left:5%;
}
.cactiText {
    align-items:center;
    max-width:100%;
}
.tropicals {
    display:flex;
    flex-direction:column;
}
.tropicalsImage {
    width:90%;
    padding-left:5%;
    height:350px;
}
.contactDiv {
    display:flex;
    flex-direction:column-reverse;
}
.contactImage {
    max-width:90%;
    padding-left:2%;
}
.contactInfo {
    padding-top:5%;
    display:flex;
    align-items:center;
}
.addressDiv {
    text-align:center;
}
.contactStuff {
    text-align:center;
    margin-left:5%;
    margin-bottom:5%;
}
.britCopy {
    text-align:center;
    font-size:1.4rem;
    max-width:60vh;
    margin-left:10%;
}
/* MEDIA QUERY FOR CELL PHONE END */